<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge">
	<link rel="stylesheet"
		  href="../css/main.css">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>Berlin Mongoose Conference</title>
</head>

<body>
	<nav>
		<div>
			<a href="/">Welcome</a> &bull; <a href="/speakers">Speakers</a> &bull; <a
			   href="/presentations">Presentations</a>
		</div>
	</nav>